@page
@model AllOrders
@{
Layout = "Shared/_AdminLayout";
ViewData["Title"] = "Home page";
}

<div class="order-table ui container">
    <h3>All Orders </h3>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Order Ref</th>
                <th>Name</th>
                <th>Department Name</th>
                <th>Emails</th>
                <th>Num of Box</th>
                <th>Completed Boxs</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Orders.Count; i++) { <tr>
                <td data-label="Id">@Model.Orders[i].Id.ToString().Split("-")[0]</td>
                <td data-label="Name">@Model.Orders[i].Customer.FirstName</td>
                <td data-label="Department">@Model.Orders[i].Customer.Department</td>
                <td data-label="Email">@Model.Orders[i].Customer.Email</td>
                <td data-label="NumOfBoxes">@Model.NumOfBoxes[i]</td>
                <td data-label="NumOfBoxes">@Model.CompBoxes[i]</td>
                <td data-label="Details"><a asp-page="./Details" asp-route-id="@Model.Orders[i].Id">Details</a></td>
                </tr>
                }
        </tbody>
    </table>
</div>

