@page
@model AdminModel
@{
Layout = "Shared/_AdminLayout";
ViewData["Title"] = "Admin Panel";
}

<div class="order-table ui container">
    <h3>@ViewData["Title"]</h3>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Order Ref</th>
                <th>Name</th>
                <th>Department Name</th>
                <th>Emails</th>
                <th>Num of Box</th>
                <th>Completed Boxs</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders) {
            <tr>
                <td data-label="Name">@item.Id</td>
                <td data-label="Age">@item.Customer.Name</td>
                <td data-label="Age">@item.Customer.Department</td>
                <td data-label="Age">@item.Customer.Email</td>
                <td data-label="Name"><a href="/">View</a></td>
                <td data-label="Name"><a href="/">View</a></td>
                <td data-label="Name"><a href="/">View</a></td>
            </tr>

            }
        </tbody>
    </table>
</div>
